.logDebug {
  color: #666;
}

.logInfo,
.logNotice {
  /* Use the default styling. */
}

.logWarning {
  background-color: var(--yellow-3);
}

.logErr,
.logCrit,
.logAlert,
.logEmerg {
  background-color: var(--red-3);
}
